<!-- Header -->
<head th:fragment="content-header (title, description)">
	<title th:replace="${title}">Header Title</title>
	<meta th:replace="${description}" name="description"
		content="Fragments Description">
	<link rel="stylesheet"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
