<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-light bg-light" th:fragment="content-navbar">
    <a class="navbar-brand" th:href="@{#}">ระบบบริหารจัดการทรัพยากรบุคคล</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" th:classappend="${pageNav == 'home' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/}">หน้าหลัก <span th:if="${pageNav == 'home'}" class="sr-only"> (current)</span></a>
            </li>
            <li class="nav-item" th:classappend="${pageNav == 'employee' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/employee}">พนักงาน <span th:if="${pageNav == 'employee'}" class="sr-only"> (current)</span></a>
            </li>
            <li class="nav-item" th:classappend="${pageNav == 'department' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/department}">แผนก <span th:if="${pageNav == 'department'}" class="sr-only"> (current)</span></a>
            </li>
        </ul>
    </div>
</nav>