<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layouts/default :: layout(~{::title}, ~{::meta}, ~{::main})">	
	<head>
        <title>ระบบบริหารจัดการทรัพยากรบุคคล</title>
        <meta name="description" content="ระบบบริหารจัดการทรัพยากรบุคคล">
	</head>
	
	<body>
		<!-- Content -->
		<main role="main">
			<div class="row">
                <div class="col-12">
                    <div class="jumbotron mt-3 ml-3 mr-3">
                        <h1>ยินดีต้อนรับสู่</h1>
                        <hr class="my-2">
                        <h1 class="display-4">
                            ระบบบริหารจัดการทรัพยากรบุคคล
                        </h1>
                    </div>
                </div>
            </div>
		</main>

		<!-- Footer -->
		<footer>            
            <span>Footer</span>
        </footer>
	</body>

</html>